        <section class='row-fluid'>
            <a href='/developers'><img src="/core/images/logo.png" alt='ConnectionSphere' /></a>
            <p>Tables.js Library</p>
        </section>

        <br/>

		<section class="container span12">	  
			<section class="box">
				<header>
					<h5>
						<i class="icon-th-list"></i>
						Simple Filter
					</h5>
				</header>
				<div class="span5" id='job_title'></div>
				<div class="span6">
					<pre>
var job_title = document.getElementById('job_title');	  
filtersJs.draw(job_title, {
	label: 'Job Positions',
	allowed_positive_keywords: true,
	allowed_negative_keywords: true,
});			
					</pre>
				</div>
			</section>
		</section>

	<script>
		$(document).ready(function() {

		});
	</script>


		